# Copia questo file in .env e personalizza i valori
PUBLIC_SITE_URL=https://pointerpodcast.it
PUBLIC_PODCAST_HOST=https://pub-da006a9d0ee0431aa1c63a049ea51ab1.r2.dev/

# Giscus (commenti) - ottieni i valori da https://giscus.app
PUBLIC_GISCUS_REPO=PointerSite/PointerSite
PUBLIC_GISCUS_REPO_ID=
PUBLIC_GISCUS_CATEGORY=Episodi
PUBLIC_GISCUS_CATEGORY_ID=

# Decap CMS
PUBLIC_GITHUB_REPO=PointerSite/PointerSite
PUBLIC_OAUTH_BASE_URL=
