<section class="widget ascoltaci">
   <h2 class="widget-title section-title">Ascoltaci su:</h2>

   <div style="text-align: center;">
      <a href="https://podcasts.apple.com/it/podcast/pointerpodcast/id1465505870">
         <img src='/images/apple_podcast.svg' style="width:80%; height: auto; margin-bottom:8px;">
      </a>
   </div>

   <div style="text-align: center;">
      <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9wb2ludGVycG9kY2FzdC5pdC9pbmRleC54bWw">
         <img src='/images/google_podcast.svg' style="width:80%; height: auto; margin-bottom:8px;">
      </a>
   </div>

   <div style="text-align: center;">
      <a href="https://open.spotify.com/show/3XmDzcZv4rCIx1VpWrbrkh">
         <img src='/images/spotify.svg' style="width:80%;  height: auto; margin-bottom:8px;">
      </a>
   </div>

   <!-- <div  style="text-align: center;">
      <a href="https://music.amazon.it/podcasts/1f42f647-0aca-4c67-95d8-ac7bd5a87fe2">
         <img src='/images/amazon.png' style="width:80%;  height: auto; ">
      </a>
   </div> -->


</section>