<section class="widget social">
   <h2 class="widget-title section-title">Seguici su:</h2>
   <div style="overflow: hidden; text-align: center;">
      <a href="https://twitter.com/pointerpodcast">
         <img src='/images/twitter.png' style="width:80%; height: auto; margin-right:10px; max-width: 20%; max-height: 20%;">
      </a>
      <a href="https://www.linkedin.com/company/pointerpodcast">
         <img src='/images/linkedin.png'style="width:80%; height: auto; margin-right:10px; max-width: 20%; max-height: 20%;">
      </a>
      <a href="https://www.facebook.com/pointerpodcast/">
         <img src='/images/facebook.png'style="width:80%; height: auto; max-width: 20%; max-height: 20%;">
      </a>
   </div>
   <br>
   <div style="overflow: hidden; text-align: center;">
      <a href="https://www.instagram.com/pointerpodcast/">
         <img src='/images/instagram.png' style="width:80%; margin-right:10px; max-width: 20%; max-height: 20%;">
      </a>
      <a href="https://www.youtube.com/channel/UCo8KHJN-JIk4Q8tW9H9epHA">
         <img src='/images/youtube.png' style="width:80%; margin-right:10px; max-width: 20%; max-height: 20%;">
      </a>
      <a href="https://www.twitch.tv/pointerpodcast">
         <img src='/images/twitch.png' style="width:80%; max-width: 20%; max-height: 20%; margin-right:10px;">
      </a>
      <a href="https://t.me/PointerPodcast">
         <img src='/images/telegram.png' style="width:80%; max-width: 20%; max-height: 20%;">
      </a>
   </div>
   
   

</section>